* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

html {
    background-color: white;
    text-rendering: optimizeLegibility;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* -----------------------------------------sidebar-------------- */

.content-navigate {
    height: 95vh;
    width: 20%;
    float: left;
    margin-top: 5vh;
    background-color: #2c3e50;
}

.content-navigate-item {
    font-size: 20px;
    color: white;
    background-color: #2c3e50;
}

.content-main {
    width: 80%;
    float: right;
    margin-top: 5vh;
    padding: 20px;
}


/* ----------------------------------table------------------------- */

button {
    width: 9vh;
    height: 4vh;
    font-size: medium;
    margin-top: 0.2vh;
}


/* -----------------------------------table order---------------- */

.content_orders_main,
.content_orders_item {
    display: flex;
}

.content_orders_main {
    background-color: #5f727f;
    color: white;
    font-weight: bold;
}

.content_orders_item {
    border: 1px solid #5f727f;
}

.orders_item1,
.orders_item2,
.orders_item3,
.orders_item4,
.orders_main1,
.orders_main2,
.orders_main3,
.orders_main4 {
    padding: 10px;
    display: flex;
    border-left: ridge silver;
    align-items: center;
}

.orders_main1,
.orders_item1 {
    width: 30%;
}

.orders_main2,
.orders_item2 {
    width: 30%;
}

.orders_main3,
.orders_item3 {
    width: 20%;
}

.orders_main4,
.orders_item4 {
    width: 20%;
}


/* ---------------------------------table store, table product----------------------- */

.content_store_main,
.content_store_item {
    display: flex;
}

.content_store_main {
    background-color: #5f727f;
    color: white;
    font-weight: bold;
}

.content_store_item {
    border: 1px solid #5f727f;
}

.store_item1,
.store_item2,
.store_item3,
.store_item4,
.store_item5,
.store_item6,
.store_main1,
.store_main2,
.store_main3,
.store_main4,
.store_main5,
.store_main6 {
    padding: 10px;
    display: flex;
    align-items: center;
    border-left: ridge silver;
}

.store_main1,
.store_item1 {
    width: 10%;
}

.store_main2,
.store_item2 {
    width: 20%;
}

.store_main3,
.store_item3 {
    width: 20%;
}

.store_main4,
.store_item4 {
    width: 20%;
}

.store_main5,
.store_item5 {
    width: 20%;
}

.store_main6,
.store_item6 {
    width: 20%;
}

.store_item6 {
    justify-content: space-around;
}

.add_btn {
    background-color: #0984e3;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    border: 2px solid #0984e3;
    width: 10%;
    margin-bottom: 1px;
}

.add_btn:hover {
    background: white;
    color: #0984e3;
    transition: 0.5s;
}


/* --------------------------table user-------------------- */

.content_user_main,
.content_user_item {
    display: flex;
}

.content_user_main {
    background-color: #5f727f;
    color: white;
    font-weight: bold;
}

.content_user_item {
    border: 1px solid #5f727f;
}

.user_item1,
.user_item2,
.user_item3,
.user_item4,
.user_item5,
.user_main1,
.user_main2,
.user_main3,
.user_main4,
.user_main5 {
    padding: 10px;
    display: flex;
    align-items: center;
}

.user_main1,
.user_item1 {
    width: 10%;
}

.user_main2,
.user_item2 {
    width: 20%;
    border-left: ridge silver;
}

.user_main3,
.user_item3 {
    width: 20%;
    border-left: ridge silver;
}

.user_main4,
.user_item4 {
    width: 30%;
    border-left: ridge silver;
}

.user_main5,
.user_item5 {
    width: 20%;
    border-left: ridge silver;
}

.user_item5 {
    justify-content: center;
}

.block {
    background-color: #e84393;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    border: 2px solid #e84393;
    width: 100px;
}

.block:hover {
    background: white;
    color: #e84393;
    transition: 0.5s;
}

.unlock {
    background-color: #00b894;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    border: 2px solid #00b894;
    width: 100px;
}

.unlock:hover {
    background: white;
    color: #00b894;
    transition: 0.5s;
}


/* --------------------------------confirm----------------------------- */

.content_box {
    width: 100%;
    float: right;
    padding: 20px;
}

.content_main,
.content_item {
    display: flex;
}

.content_main {
    background-color: #5f727f;
    color: white;
    font-weight: bold;
}

.content_item {
    border: 1px solid #5f727f;
    cursor: pointer;
}

.content_main1,
.content_main2,
.content_main3,
.content_item1,
.content_item2,
.content_item3 {
    padding: 10px;
}

.content_main1,
.content_item1 {
    width: 10%;
}

.content_main2,
.content_item2 {
    width: 80%;
}

.content_item2 {
    background-color: #d6dae0;
    border-radius: 4px;
}

.content_item2:hover {
    background-color: #9a9ea5;
}

.drop_down_animation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.content_item3 {
    width: 10%;
}


/* -----------------------------------slide-down animation--------------------------------- */

a {
    text-decoration: none;
}

.expandable {
    background: #fff;
    overflow: hidden;
    transition: all 1s ease-in-out;
    line-height: 0;
    color: transparent;
    height: 0;
}

.expandable:target {
    line-height: 1;
    color: black;
    height: auto;
}


/* ---------------------------------------------table details------------------------------- */

.table_details {
    display: flex;
    border: 1px solid #5f727f;
    width: 80%;
    margin-left: 10%;
    padding: 5px 10px;
    align-items: center;
}

.table_details_item1 {
    width: 10%;
}

.table_details_item2 {
    width: 60%;
}

.table_details_item3 {
    width: 20%;
}

.table_details_item3 img {
    height: 40px;
    width: auto;
}

.table_details_item4 {
    width: 10%;
}

.table_details_item5 {
    width: 10%;
}

.title {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.total {
    padding: 5px 10px;
    margin-left: auto;
    font-size: 20px;
    font-weight: x-large;
}