* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

html {
    background-color: white;
    text-rendering: optimizeLegibility;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.content {
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 80px;
}

.content p {
    text-align: justify;
}