* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

html {
    background-color: white;
    text-rendering: optimizeLegibility;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* ---------------------------content------------------------------- */

.content {
    max-width: 2000px;
    margin: 6vh auto;
    padding: 0 80px;
    text-align: center;
}

.content-poster {
    text-align: center;
    width: 100%;
    height: 50vh;
}


/* -------------------------------------table------------------------- */

.content_table {
    margin-top: 3vh;
}

.content_main,
.content_item {
    display: flex;
    text-align: left;
}

.content_main {
    background-color: #576574;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.content_item {
    border: 1px solid #576574;
    cursor: pointer;
}

.content_main1,
.content_main2,
.content_main3,
.content_main4,
.content_main5,
.content_main6,
.content_main7,
.content_item1,
.content_item2,
.content_item3,
.content_item4,
.content_item5,
.content_item6,
.content_item7 {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_main1,
.content_item1 {
    width: 10%;
}

.content_main2 {
    width: 40%;
    justify-content: left;
}

.content_item2 {
    width: 10%;
    justify-content: left;
}

.content_item2 img {
    height: 40px;
    width: auto;
}

.content_main3 {
    width: 10%;
}

.content_item3 {
    width: 40%;
    justify-content: left;
}

.content_main4,
.content_item4 {
    width: 10%;
}

.content_main5,
.content_item5 {
    width: 10%;
}

.content_main6,
.content_item6 {
    width: 10%;
}

.content_main7,
.content_item7 {
    width: 10%;
}


/* ----------------------------------------footer button----------------------------------- */

.content_footer {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    border: 1px solid #8395a7;
}

.content_footer a:hover {
    text-decoration: none;
}

.content_footer_update,
.content_footer_checkout {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: 20px;
}

.content_footer_update {
    border: 2px solid #f368e0;
    background-color: #f368e0;
}

.content_footer_update:hover {
    background-color: white;
    color: #f368e0;
    transition: 0.7s;
}

.content_footer_checkout {
    border: 2px solid #5f727f;
    background-color: #5f727f;
}

.content_footer_checkout:hover {
    background-color: white;
    color: #5f727f;
    transition: 0.7s;
}