* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

html {
    background-color: white;
    text-rendering: optimizeLegibility;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* ------------------------------------------content----------------------------------- */

.content-navigate {
    height: 95vh;
    width: 20%;
    float: left;
    margin-top: 5vh;
    background-color: #2c3e50;
}

.content-navigate-item1,
.content-navigate-item2,
.content-navigate-item3 {
    font-size: 20px;
    color: white;
    background-color: #2c3e50;
}

.content-main {
    width: 80%;
    float: right;
    margin-top: 5vh;
    padding: 20px;
}