* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

html {
    background-color: white;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.form-control {
    border-radius: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.content-input {
    width: 500px;
    /* background: #00FFFF; */
}

.content-input-flex {
    display: flex;
    justify-content: space-between;
}

.content-input-footer {
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.footer-logo {
    display: flex;
    justify-content: center;
}

input[class=form-control] {
    background: transparent;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #2da8d9;
    /* color: #a0d18c; */
    width: 100%;
    padding-left: 10px;
}

input[class=form-control]:focus {
    outline: none;
    background: #66CCCC;
    border: 1px solid #2da8d9;
    /* color: #2d9fd9; */
}