* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

html {
    background-color: white;
    text-rendering: optimizeLegibility;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.form-control {
    border-radius: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.content-input {
    width: 400px;
    /* background: #00FFFF; */
}

.content-input-flex {
    display: flex;
    justify-content: space-between;
}

.content-input-footer {
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.footer-logo {
    display: flex;
    justify-content: center;
}

input[class=form-control] {
    background: transparent;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid none;
    color: black;
    width: 100%;
    padding-left: 10px;
}

input[class=form-control]:focus {
    outline: none;
    background: #FFAEB9;
    border: 1px solid palevioletred;
    color: #f33838;
}

input[class=form-control]:hover {
    /* background: #CCFFFF; */
    border: 1px solid palevioletred;
}

.content-input-wrap {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 20px 20px rgb(0 0 0 / 10%), 0px 30px 26px rgb(0 0 0 / 10%);
}

.content-input-wrap h3 {
    font-weight: 300;
    color: red;
}

.content-input-wrap .social {
    width: 100%;
}

.content-input-wrap .social a {
    width: 100%;
    display: block;
    border: 1px solid #00FFFF;
    color: rgba(243, 75, 9, 0.1);
    background: plum;
}

.content-input-wrap .social a:hover {
    background: rgba(233, 116, 7, 0.1);
    color: rgba(255, 255, 255, 0.1);
    border-color: #00FFFF;
}